@use '../../config/color/configColors.scss' as Colors;

.avatarGroup {
	position: relative;
	display: flex;
	gap: 5px;

	#showMore {
		background-color: Colors.$color-button-bg;
		color: white;
		border: none;
		border-radius: 50%;
		width: 60px;
		aspect-ratio: 1/1;
		text-align: center;
		font-family: 'Montserrat';
		font-size: 25px;

		transition: .1s ease-in-out;

		&:hover{
			background-color: aquamarine;
		}
	}
}
.allUsers {
	display: none;
	max-height: 0;
	position: absolute;
	background-color: #38363D;
	padding: 10px;
	top: 120%;
	border-radius: 10px;
	border: 1px solid#9d9d9dd6;
}


.active {	
	display: grid;
	grid-template-columns: auto auto auto auto auto auto;
	max-height:400px;
	opacity: 1;
	transform: skewY(0);

	img{
		opacity: 1;
	}
}
