@use '../../../config/colors/' as Colors;

.container {
    position: relative;
    max-height: 200px;
	#user {
		position: absolute;
        bottom: 3%;
		left: 3%;
		display: flex;
		align-items: flex-end;

		h1 {
			height: fit-content;
			margin: 0;
			align-self: left;
			color: Colors.$white;
		}
	}
    #background{
        width: 100%;
		max-height: inherit;
        object-fit:cover;
    }
}
