@import '../../config/colors';
@import '../../config/mixins';

.landingContainer{
    width: 100%;
    height: 100%;
    position: relative;
}

#caroussel{
    height:100%;
    width: 45%;
    position: absolute;
    left:0;
    overflow: hidden;
    display: flex;
    scroll-behavior: smooth;
    clip-path: path('m 0 0 v 610 h 236 Q 566 620 567 242 V 84 v -84 z');
    .background{
        min-width: 100%;
    }
}

#guest{
    @include button($button-bg);
}


.title{
    position: absolute;
    z-index: 1;
    left:20px;
    top:27px;
    margin:0;
    color:white;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.choices{
    display: flex;
    flex-direction: column;
    position: absolute;
    right:5vw;
    top:0;
    z-index: 9;
    width: fit-content;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    
    #authform{
        width: 90%;
        min-width: 500px;
        height: 80%;
        min-height: 500px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        top:17vh;
        bottom:10%;
        right:5vw;
        scroll-behavior: smooth;
        background-color: $secondary-bg;
        border-radius: 20px;
    }
    #optionselect{
        display: flex;
        align-items: center;
        h2{
            color:white;
            font-size: 30px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            margin:0;
            border:10px solid transparent;
            transition:.35s;
            cursor:pointer;
        }
        hr{
            height: 10px;
            width: 10px;
            margin: 0;
            background-color: white;
        }
    }
}


#logInText{
    border-bottom: 10px solid $button-bg;
}