.container{
      display: flex;
      margin-top: 25px;
}


.buttonContainer{
      display: flex;
      flex-direction: column;
      gap: 20px;
      position: absolute;
      right: 30px;
}

.newsContainer{
      display: flex;
      position: absolute;
      width: 700px;
      left: 20px;
}