@use '../fontSize' as FontSize;
@use '../colors' as Colors;
@use '../fontWeight' as FontWeight;

@mixin medium-bold-font {
	font-family: Montserrat;
	font-size: FontSize.$medium;
	font-weight: FontWeight.$bold;
}

@mixin button($color) {
	@include medium-bold-font;
	cursor: pointer;
	color: white;
	background-color: $color;
	border: hidden;
	border-radius: 5px;
	padding: 5px;
	text-decoration: none;

	&:active {
		background-color: gray;
	}
}

@mixin bold-button($color) {
	@include button($color);
	@include medium-bold-font;
}

@mixin close-button{
	@include button(Colors.$but)
}

@mixin blue-button {
	@include button(Colors.$button-bg);
	@include medium-bold-font;
}

@mixin red-button{
	@include button(red);
	@include medium-bold-font;
}

@mixin page {
	h1,
	h2,
	h3,
	h4,
	p,
	span {
		font-family: 'Montserrat';
		margin: 0;
		height: fit-content;
	}
	margin: 0 40px;
}

@mixin header {
	padding: 1% 1%;
	display: flex;
	gap: 20px;

	#icon {
		height: 2.5rem;
	}

	h1,
	h2,
	h3,
	h4 {
		color: white;
	}

	hr {
		margin: 0 10px;
	}
}

@mixin overlay {
	position: absolute;
	align-self: center;
	background-color: blue;
	transition: visibility 1s;
}

@mixin searchbar-wrapper{
	border-radius: 4px;
	border: none;
	position: relative;

	input[type=text]{
		font-size: 20px;
		padding: 4px 10px;
	}

	&::before{
		position: absolute;
		top: 15%;
		left: 3%;
		color: blue;
		content: url("")
	}

	&:focus-within::before{
		display: none;
	}
}