@use '../../config/mixins' as Mixins;
@use '../../config/colors' as Colors;

.page{
    @include Mixins.page;
    color: white;
    .create {
        @include Mixins.blue-button;
        margin: 40px;
        position: absolute;
        right: 0;
      }
    .body{
        margin: 0 30px;
        display: flex;
        flex-direction: column;
        

        #title{
            width: fit-content;
            border-bottom: 1px gray solid;
            padding-bottom: 4px;
            margin-bottom: 10px;
        }

        #searchbar{
            @include Mixins.searchbar-wrapper;
            min-width: 200px;
            width: 20%;
        }

        #noExercises{
            margin: 2rem auto;
        }
    }
}