@use '../../../../config//colors//index.scss' as c ;

.searchInput{
      display: flex;
      position: absolute;
      right: 100px;
      height: 30px;
      gap: 5px;
      align-items: center;

      .addInput{
            border: none;
            border-radius: 8px;
            height: 25px;
            width: 200px;
            font-family: 'Montserrat';
            padding-left: 5px;
      }
      .addInput:focus{
            outline: none;
      }

      .submitInput{
            border: none;
            padding: 10px;
            border-radius: 8px;
            background-color: c.$button-bg;
            color: white;
            font-size: 14px;
            font-weight: 600;
            cursor: pointer;
      }
}