@use "../../../config/colors/" as Color;
.cont{
    display: grid;
    grid-template-columns: 65% 30%;
    gap: 5%;
    justify-items: center;
    position: relative;
}
.cont iframe {
    height: 300px;
} 
.info {
    background-color: Color.$secondary-bg;
    padding: 10%;
    border-radius: 15px;
    min-width: 100%;
}
.number{
    text-align: center;
    font-size: 30px;
}
.contNext{
    display: flex;
    justify-content: center;
}
.next{
    width: 60%;
    background-color: #3F59B8;
    color: white;
    padding: 10px;
    border: none;
    font-size: 30px;
    border-radius: 15px;
    cursor: pointer;
}