.cont{
    display: grid;
    grid-template-columns: 65% 30%;
    gap: 5%;
    justify-items: center;
    position: relative;
}
iframe {
    height: 300px;
} 
.number{
    position: absolute;
    top: 75%;
    right: 11.5%;
    font-size: 30px;
}
.contNext{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 100%;
}
.next{
    width: 60%;
    margin-top: 50px;
    background-color: #3F59B8;
    color: white;
    padding: 10px;
    border: none;
    font-size: 30px;
    border-radius: 15px;
    cursor: pointer;
}