@use "../../config/colors" as c;
@use "../../config/fontSize" as f;

.container {
  position: relative;
  top: -40px;
  display: flex;
  flex-direction: column;
  background: c.$secondary-bg;
  width: 50%;
  height: 90vh;
  margin-top: 30px;
  border-radius: 10px;
  margin: 20px auto;
  width: 95%;
  height: 100%;
  background: c.$option2-bg;
  border-radius: 5px;
  .containerImg {
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    height: 200px;
    img {
      width: 100%;
      object-fit: scale-down;
    }
  }
  .containerUser {
    display: flex;
    justify-content: space-between;
    img {
      position: relative;
      top: -25px;
      left: 50px;
      width: 100px;
      height: 90px;
      border-radius: 50%;
      border: 5px solid c.$secondary-bg;
    }
    p {
      position: relative;
      left: -80px;
      color: c.$white;
    }
    input {
      height: 30px;
      background: c.$secondary-bg;
      color: c.$fonts-highlight-error;
      border: 1px solid c.$fonts-highlight-error;
      border-radius: 4px;
      margin: 15px 25px 0 0;
    }
    input:hover {
      transition: 0.3s;
      cursor: pointer;
      background: c.$fonts-highlight-error;
      color: c.$white;
    }
  }

  .containerInputs {
    margin: 10px;
    label {
      margin: 7px 7px 7px 10px;
      color: c.$white;
      font-size: f.$small;
    }
    input {
      background-color: c.$secondary-bg;
      margin: 7px 0 0px 30px;
      border: none;
      outline: none;
      padding: 5px;
      border-radius: 5px 0 0 5px;
      color: c.$white;
    }
    .inputBtn {
      margin: 0;
      width: 50px;
      border-radius: 0 5px 5px 0;
      background-color: c.$button-bg;
    }
    .inputBtn:hover {
      cursor: pointer;
      transition: 0.3s;
      opacity: 0.8;
    }
  }
  .containerNetworks {
    display: flex;
    flex-direction: column;
    align-items: center;
    label {
      position: relative;
      left: -100px;
      font-size: f.$small;
      color: c.$white;
      margin-left: 20px;
    }
    .containerIcons {
      margin: 7px 25px;
      .icon {
        border-radius: 50%;
        padding: 2px;
        color: c.$option-bg;
        margin: 0 10px;
        border: 1px solid c.$option-bg;
      }
      .icon:hover {
        cursor: pointer;
        transition: 0.3s;
        color: c.$white;
        border: 1px solid c.$white;
      }
    }
  }
  .formBtn {
    display: flex;
    justify-content: flex-end;
    button {
      margin: 10px;
      background: c.$button-bg;
      padding: 9px;
      border: none;
      border-radius: 5px;
      color: c.$white;
    }
    button:hover {
      cursor: pointer;
      transition: 0.3s;
      opacity: 0.8;
    }
  }
}
