@use '../../../config/colors' as c;
@use '../../../config/fontSize' as f;

.container {
	display: grid;
	grid-template-columns: auto auto;
	justify-items: center;
	padding: 20px;
	gap: 10px;
	background: c.$secondary-bg;

	button {
		grid-column: 1;
		grid-row: 2 / span 2;
		width: fit-content;
		align-self: center;
		padding: 9px;
		border-radius: 5px;
		border: none;
		background: c.$button-bg;
		color: c.$white;

		&:hover {
			cursor: pointer;
			transition: 0.3s;
			opacity: 0.8;
		}

		&[disabled] {
      opacity: .5;
			cursor: default !important;
			background-color: gray;
		}
	}

	#email {
		grid-column: 2;
	}

	#networks {
		grid-column: 2;
		grid-row: 2 / span 2;
		align-self: center;
	}

	#password {
		grid-column: 1;
		grid-row: 2 / span 2;
	}

	#confirmChanges {
		display: flex;
	}
}
