//IMPORT PALETA DE COLORES
@use '../../config/colors' as c;
@use '../../config/breakpoints/breakpoint.scss' as b;
@use '../../config/mixins/' as Mixins;

.page {
	@include Mixins.page;

	.buttonContainer {
		width: 30%;
		padding: 0 10px;
		display: flex;
		flex-direction: column;
		gap: 20px;
		position: absolute;
		right: 50px;
		max-height: 80vh;
		overflow-y: auto;

		@include Mixins.scrollbar;
	}
}
