//IMPORT PALETA DE COLORES
@use "../../config/color/configColors.scss" as c;
@use "../../config/breakpoints/breakpoint.scss" as b;

.contentHomeTrainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  //BOTTON CONTENT
  .downContainer {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-self: start;
    flex-direction: row;
    background: c.$color-primary-bg;
    // @include tabletL{

    // }

    //CONTENEDOR NEWS
    .leftContain {
      height: 100%;
      width: 50%;
      display: flex;
      flex-direction: column;
      background-color: c.$color-primary-bg;

      .contentTitle {
        display: flex;
        justify-content: start;
        margin-bottom: 23px;

        .titleNews {
          height: 50px;
          font-size: 30px;
          color: c.$color-white;
          font-weight: bold;
          letter-spacing: 20px;
          border-bottom: 6px solid c.$color-button-bg;

          .titleNews {
            padding-left: 10px;
          }
        }
      }

      .contentCardsNews {
        overflow-y: scroll;
        &::-webkit-scrollbar {
          display: none;
        }
      }
    }

    .rightContain {
      width: 30%;
      height: 100%;
      display: flex;
      flex-direction: column;
      background-color: c.$color-primary-bg;
      //   border-left: 3px solid c.$color-white;

      .infoCards{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        height: 95%;
      }

      .contentTitle {
        height: 50px;
        display: flex;
        justify-content: start;
        width: fit-content;
        flex-direction: column;
        border-bottom: 6px solid c.$color-button-bg;

        .titleInfo {
          height: 50px;
          font-size: 30px;
          color: c.$color-white;
          font-weight: bold;
          letter-spacing: 20px;
        }
      }
    }
  }
}
