@use "../../config/colors" as colors; 

.container{
    text-align: left;

    .select{
        width: 100%;
        min-width: 15ch;
        //max-width: 20ch;
        line-height: 1.1;
        display:grid;
        grid-template-areas: "select";
        align-items: center;
    
        select{
            font-family: 'Montserrat';
            color:white;
            text-indent: 1rem;
            z-index: 2;
            height: 40px;
            background-color: transparent;
            border: 2px solid colors.$secondary-bg;
            border-radius: 10px;
            appearance: none;
            padding-right: 35px !important;
            text-overflow: ellipsis;

            &:focus-visible{
                outline: none;
            }

            option{
                font-family: inherit;
                color:white;
                background-color: colors.$secondary-bg;
            }
        }
    
        &:after{
            content: url('https://api.iconify.design/simple-line-icons/arrow-down.svg?color=%233f59b8');
            width: 1.8em;
            height: 1em;
            justify-self: end;
        }
    
        select,
        &:after{
            grid-area: select;
        }
    }
}