@use '../../../config/fontSize' as FontSize;

.exercise{
    width: 300px;
    display: flex;
    flex-direction:column;
    border: 1px solid rgb(189, 189, 189);
    aspect-ratio: 16 / 9;

    video {
        background-color: black;
    }

    .info{
        font-size: FontSize.$big;
        font-weight: 600;
        background-color: black;
        padding: 2px 5px;
        display: flex;
        justify-content: space-between;
    }
}