@use '../../config/fontSize/configFontSize.scss' as FontSize;

.exercise{
    width: 300px;
    display: flex;
    flex-direction:column;
    border: 1px solid rgb(189, 189, 189);

    iframe {
        width: inherit;
        aspect-ratio: 16 / 9;
    }

    .info{
        font-size: FontSize.$font-big;
        font-weight: 600;
        background-color: #C4C4C4;
        padding: 2px 5px;
        display: flex;
        justify-content: space-between;
        border-top: 1px solid gray;
    }
}