@use "../../config/color/configColors.scss" as c;
@use "../../config/fontSize/configFontSize.scss" as f;

.container {
  //GENERAL
  display: flex;
  justify-content: space-between;
  //SIDE MENU
  .containerSideMenu {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .containerSideMenuTitle {
      display: flex;
      align-self: flex-start;
      .menuIcon {
        color: c.$color-white;
        margin: 50px 0 0 70px;
      }
      h2 {
        letter-spacing: 1px;
        margin: 50px 0 0 8px;
        font-size: f.$font-big;
        color: c.$color-white;
        display: inline-block;
      }
    }
  }
  .contentSideMenu {
    list-style-type: none;
    color: c.$color-white;
    letter-spacing: 0.2px;
    font-size: f.$font-small;
    margin: 15px 0 0 50px;
    li {
      margin-top: 5px;
    }
    li:hover{
        transition: .3s;
        cursor: pointer;
        text-decoration: underline;
    }
  }
  //CONTENT CENTER
  .containerContentCenter {
    display: flex;
    flex-direction: column;
    background: c.$color-secondary-bg;
    width: 50%;
    height: 90vh;
    margin-top: 30px;
    border-radius: 10px;
    .containerImg {
      border-radius: 10px 10px 0 0;
      position: relative;
      overflow: hidden;
      height: 200px;
      img {
        position: absolute;
        bottom: -50px;
        width: 100%;
        object-fit: scale-down;
      }
    }
    .containerUser {
      display: flex;
      justify-content: space-between;
      img {
        position: relative;
        top: -25px;
        left: 50px;
        width: 100px;
        height: 90px;
        border-radius: 50%;
        border: 5px solid c.$color-secondary-bg;
      }
      p {
        position: relative;
        left: -80px;
        color: c.$color-white;
      }
      input {
        height: 30px;
        background: c.$color-secondary-bg;
        color: c.$color-fonts-highlight-error;
        border: 1px solid c.$color-fonts-highlight-error;
        border-radius: 4px;
        margin: 15px 25px 0 0;
      }
      input:hover {
          transition: .3s;
          cursor: pointer;
        background: c.$color-fonts-highlight-error;
        color: c.$color-white;
      }
    }
    .containerForm {
      margin: 20px auto;
      width: 95%;
      height: 45%;
      background: c.$color-option2-bg;
      border-radius: 5px;
      .containerInputs {
        margin: 10px;
        label {
          margin: 7px 7px 7px 10px;
          color: c.$color-white;
          font-size: f.$font-small;
        }
        input {
          background-color: c.$color-secondary-bg;
          margin: 7px 0 0px 30px;
          border: none;
          outline: none;
          padding: 5px;
          border-radius: 5px 0 0 5px;
          color: c.$color-white;
        }
        .inputBtn {
          margin: 0;
          width: 50px;
          border-radius: 0 5px 5px 0;
          background-color: c.$color-button-bg;
        }
        .inputBtn:hover{
            cursor: pointer;
            transition: .3s;
            opacity: .8;
        }
      }
      .containerNetworks {
        display: flex;
        flex-direction: column;
        align-items: center;
        label {
          position: relative;
          left: -100px;
          font-size: f.$font-small;
          color: c.$color-white;
          margin-left: 20px;
        }
        .containerIcons {
          margin: 7px 25px;
          .icon {
            border-radius: 50%;
            padding: 2px;
            color: c.$color-option-bg;
            margin: 0 10px;
            border: 1px solid c.$color-option-bg;
          }
          .icon:hover{
              cursor: pointer;
              transition: .3s;
              color: c.$color-white;
              border:1px solid c.$color-white;
          }
        }
      }
      .formBtn {
        display: flex;
        justify-content: flex-end;
        button {
          margin: 10px;
          background: c.$color-button-bg;
          padding: 9px;
          border: none;
          border-radius: 5px;
          color: c.$color-white;
        }
        button:hover{
            cursor: pointer;
            transition: .3s;
            opacity: .8;
        }
      }
    }
  }
  //BTN EXIT
  .containerBtn {
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: center;
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      background: c.$color-primary-bg;
      margin: 25px 15px 0 15px;
      padding: 15px;
      border-radius: 50%;
      border: 1px solid c.$color-white;
      .btnIcon {
        color: c.$color-white;
        font-size: 30px;
      }  
    }
    button:hover{
        transition: .3s;
        cursor: pointer;
        opacity: .5;
    }
    p {
      margin: 3px;
      color: c.$color-white;
      letter-spacing: 2px;
    }
  }
}
