@use "../../config/color/configColors.scss" as c;
@use "../../config/fontSize/configFontSize.scss" as f;

.container {
  //GENERAL
  display: flex;
  justify-content: space-between;
  //SIDE MENU
  .containerSideMenu {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .containerSideMenuTitle {
      display: flex;
      align-self: flex-start;
      .menuIcon {
        color: c.$color-white;
        margin: 50px 0 0 70px;
      }
      h2 {
        letter-spacing: 1px;
        margin: 50px 0 0 8px;
        font-size: f.$font-big;
        color: c.$color-white;
        display: inline-block;
      }
    }
  }
  .contentSideMenu {
    list-style-type: none;
    color: c.$color-white;
    letter-spacing: 0.2px;
    font-size: f.$font-small;
    margin: 15px 0 0 50px;
    li {
      margin-top: 5px;
    }
    li:hover{
        transition: .3s;
        cursor: pointer;
        text-decoration: underline;
    }
  } 
  //BTN EXIT
  .containerBtn {
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: center;
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      background: c.$color-primary-bg;
      margin: 25px 15px 0 15px;
      padding: 15px;
      border-radius: 50%;
      border: 1px solid c.$color-white;
      .btnIcon {
        color: c.$color-white;
        font-size: 30px;
      }  
    }
    button:hover{
        transition: .3s;
        cursor: pointer;
        opacity: .5;
    }
    p {
      margin: 3px;
      color: c.$color-white;
      letter-spacing: 2px;
    }
  }
}
