.infoPill{
    height: 40px;
    width: fit-content;
    background-color: #6b6979;
    padding: 5px;
    display: grid;
    grid-template-rows: auto auto;
    border-radius: 5px;

    #icon{
        align-self: center;
        grid-column: 1;
        grid-row: 2;
        max-height: 20px;
    }

    #header {
        max-width: 50px;
        text-align: left;
        grid-column: 1;
        grid-row: 1;
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
    }

    #text{
        text-align: right;
        grid-column: 2;
        grid-row: 2;
        font-size: 20px;
    }
}