@use "../../../config/colors" as c;
@use "../../../config/fontSize" as f;

.container {
  background: c.$option2-bg;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  .containerCard {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .contentCard {
      display: flex;
      .contentCardLeft {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img {
          margin: 10px;
          width: 50px;
        }
      }
      .contentCardRight {
        display: flex;
        flex-direction: column;
        p {
          margin: 15px;
          color: c.$white;
        }
        p:hover {
          cursor: pointer;
          text-decoration: underline;
          transition: 0.3s;
        }
      }
    }
    button {
      margin: 10px;
      background: c.$button-bg;
      padding: 9px;
      border: none;
      border-radius: 5px;
      color: c.$white;
    }
    button:hover {
      cursor: pointer;
      transition: 0.3s;
      opacity: 0.8;
    }
  }
  .containerCart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: c.$secondary-bg;
    margin: 15px 0;
    width: 35%;
    height: 70%;
    border-radius: 15px;
    h4 {
      color: c.$white;
      margin: 0;
    }
    .contentCart {
      display: flex;
      justify-content: space-around;
      width: 100%;
      .contentCartLeft {
        color: c.$white;
      }
      .contentCartRight {
        color: c.$white;
      }
    }
    button {
      margin: 10px;
      background: c.$button-bg;
      padding: 9px;
      border: none;
      border-radius: 5px;
      color: c.$white;
    }
    button:hover {
      cursor: pointer;
      transition: 0.3s;
      opacity: 0.8;
    }
  }
}
