@use '../../../config/colors/' as Color;
@use '../../../config/mixins/' as Mixins;

.container {
	padding: 20px;
	font-family: 'Montserrat';
	background-color: Color.$secondary-bg;
	display: flex;
	gap: 50px;
	flex-direction: column;

	.section{
		h1{
			align-self: flex-start;
		}
	
		.cards{
			padding: 10px 0;
			width: 100%;
			display: flex;
			gap: 20px;
			overflow-x: auto;
			scroll-behavior: smooth;
		}
	
		#transactionTable {
			width: fill-available;
			margin: 10px;
			color: white;
			overflow: hidden;
			border-spacing: 0;
			border-radius: 5px;
	
			tr:not(#headerRow) {
				height: 70px;
			}
	
			th {
				text-align: left;
			}

			
			th,
			td {
				max-width: 150px;
				text-overflow: ellipsis;
				overflow: hidden;
				border-collapse: collapse;
				padding: 5px;
			}
			
			td.receipt{
				text-align: center;
			}
			
			td.id{
				font-size: 14px;
			}
	
			tr:nth-child(even) {
				background-color: #40394a;
			}
			tr:nth-child(odd) {
				background-color: #6a5f7a;
			}
		}
	}
}
