@use "../../../config/colors" as c;
@use "../../../config/fontSize" as f;
@use "../../../config/mixins" as Mixins;

.container {
    background: c.$secondary-bg;
    display: grid;
    grid-template-columns: auto auto;
    padding: 20px;
    button{
      grid-row: 5;
      @include Mixins.blue-button;
      height: 2rem;
      max-width: 20%;
    }
  }