@use "../../../config/colors" as c;
@use "../../../config/fontSize" as f;

.container {
    background: c.$option2-bg;
    padding: 20px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    .containerSelect{
      display: flex;
      justify-content: space-evenly;
      .containerSelectLeft{
        margin: 20px 20px 20px 20px;
      }
      .containerSelectRight{
        margin: 20px 20px 20px 20px;
      }
    }
    .containerBtn{
      position: relative;
      margin: 20px;
      top: -10px;
      align-self: center;
      button {
        width: 70px;
        background: c.$button-bg;
        padding: 9px;
        border: none;
        border-radius: 5px;
        color: c.$white;
      }
      button:hover{
          cursor: pointer;
          transition: .3s;
          opacity: .8;
      }
    }
  }