@use "../../../config/colors" as c;
@use "../../../config/fontSize" as f;
@use "../../../config/mixins" as Mixins;

.container {
    background: c.$secondary-bg;
    display: grid;
    grid-template-columns: auto auto;
    padding: 20px;
    button{
      @include Mixins.blue-button;
      width: 100px;
      max-width: 20%;
      grid-row: 5;
      grid-column: 1 / span 2;
      justify-self: center;
      height: 2rem;
    }
  }