//VARIABLES DE PALETA DE COLORES
$primary-bg: #2e2c3b;
$secondary-bg: #201f24;
$container-bg: #43404d;
$option-bg: #6b6979;
$option2-bg: #2e2d30;
$fonts-highlight: #201f24;
$fonts-highlight-error: #f35555;
$fonts-grayed-out: #AFAFAF;
$button-bg: #3f59b8;
$button-success: #5fff82;
$button-prev: #fffa86;
$black: #000000;
$white: #ffffff;
$form-stroke: #38363D;
$background-text: #8A8A8A;
