//VARIABLES DE PALETA DE COLORES
$primary-bg: #201f24;
$secondary-bg: #2c2d47;
$container-bg: #43404d;
$option-bg: #6b6979;
$option2-bg: #2e2d30;
$fonts-highlight: #201f24;
$fonts-highlight-error: #f35555;
$fonts-grayed-out: #afafaf;
$button-bg: #3f59b8;
$button-success: #5fff82;
$button-prev: #fffa86;
$black: #000000;
$white: #ffffff;
$form-stroke: #38363d;
$background-text: #8a8a8a;
