//IMPORT PALETA DE COLORES
@use "../../config/colors" as c;

//TOP CONTENT
.topBarContainer {
  width: 100%;
  position: sticky;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background: c.$primary-bg;
  z-index: 99;
  margin-top:10px;

  .guest{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 300px;
    .buttonA{
      display: flex;
      justify-content: center;
      background-color:c.$button-bg;
      border:0;
      width: 40%;
      align-self: center;
      box-sizing: content-box;
      font-size: 30px;
      height: 60px;
      transition: 1s;
      opacity:1;
      cursor: pointer;
      border-radius: 10px;
      color:white;
      line-height: 55px;
  }
  }

  //CONTENEDOR DE IMG Y HAMBURGER
  .rightItems {
    right:0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    margin-right: 4vw;
    div{
      height: fit-content;
      width: 50%;
      margin: 0;
    }

    .avatarNavbar {
        height: 50px;
        width: 50px;
        border-radius: 100%;
        margin:0;
        object-fit: cover;
        justify-self:center;
    }

    .contentMenu {
      position: relative;
      height: 100%;
      margin-left: 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .hamburgerItem {
        width: 57px;
        height: 52px;
        color: c.$white;
        cursor: pointer;
      }

      //SETING
      .contentSeting {
        position: absolute;
        top: 140%;
        right: 3px;
        width: 237px;
        height: 0px;
        border-radius: 10px;
        background-color: c.$secondary-bg;
        transition: .7s;
        //overflow: hidden;
        .triangle {
          width: 30px;
          height: 0px;
          position: absolute;
          top: -10%;
          right: 5%;
          clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
          background-color: c.$secondary-bg;
          transition: .7s;
        }

        .contentList {
          width: 100%;
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: space-evenly;
          overflow: hidden;
          height: 100%;
          .itemList {
            width: 184px;
            height: 46px;
            display: flex;
            flex-direction: row;

            .iconItems {
              width: 46px;
              height: 46px;
              color: c.$white;
            }

            .textSeting {
              width: 131px;
              height: 37px;
              display: flex;
              justify-content: center;
              align-items: center;
              color: c.$white;
              font-size: 30px;
              font-weight: bold;
            }
          }
        }
      }
      .active {
        z-index: 999;
        height: 282px;
        transition: .7s;
        
        .triangle{
          height: 30px;
          transition: .7s;
          
        }

      }
    }
  }
}
