@use '../../config/mixins/' as Mixins;

.page{
    @include Mixins.page;
    .description{
        text-align: center;
        margin-right: 200px
    }
    .header {
        @include Mixins.header;
      }
    .points {
        h3 {
            display: inline-block;
            margin: 0;
            color: #FBCB22;;
        }
    }
    position: relative;
}
.imageProfile{
    float: right;
    position: absolute;
    right: 0;
    width: 180px;
    height: 180px;
    border-radius: 50%;
}
.productImg {
    width: 90%;
    height: 300px;
    margin: auto;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 30px;
}
.totalStudents{
    display: flex;
    justify-content: space-between;
    margin-right: 200px;
}
.courses{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.product {
    width: 50%;
    h3 {
        padding-bottom: 10px;
        color: black;
    }
    h4 {
        padding-bottom: 10px;
        color: black;
        font-size: 20px;
    }
}
.containerInfo{
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
    padding-left:10px;
    padding-right: 10px;
}
.containerPoints {
    display: flex;
    justify-content: space-between;
}
.contentSelect select{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
.contentselect select{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
.contentSelect select::-ms-expand {
    display: none;
}
.contentSelect{
	max-width: 250px;
	position: relative;
}

.contentSelect select{
	display: inline-block;
	width: 100%;
	cursor: pointer;
    padding: 7px 10px;
    height: 42px;
    outline: 0; 
    border: 0;
	border-radius: 0;
	background: #2E2C3B;
	font-size: 1em;
	color: #999;
	border:2px solid #201F24;
    border-radius: 12px;
    position: relative;
    transition: all 0.25s ease;
}

.contentSelect select:hover{
	background: #5e5b74;
}
.contentSelect i{
	position: absolute;
	right: 20px;
	top: calc(50% - 13px);
	width: 16px;
	height: 16px;
	display: block;
	border-left:4px solid #3F59B8;
	border-bottom:4px solid #3F59B8;
	transform: rotate(-45deg);
	transition: all 0.25s ease;
}

.contentSelect:hover i{
	margin-top: 3px;
}