@use '../../../config/mixins' as mixins;

.form{
    font-family: 'Montserrat';
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    color: white;

    label{
        align-self: left;
    }

    #submit{
        @include mixins.blue-button;
        margin-top: 10%;
    }

    input[type=file]{
        max-width: -moz-available;
    }
}

#error{
    text-transform: capitalize;
}