@use '../../config/colors' as Colors;
@use '../../config/fontSize' as FontSize;
@use '../../config/mixins' as Mixins;

.searchContainer{
    background-color: Colors.$primary-bg;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    height: 100%;
    overflow: hidden;
    align-content: flex-start;
}

#paginationContainer{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    overflow: auto;
    height: 540px;
    width: 100%;
    position: relative;
}


    button{
        background-color: Colors.$button-bg;
        border:0;
        border-radius: 10px;
        color:white;
        padding:10px;
        width: 30%;
    }
