@use '../../config/colors' as c;
@use '../../config/fontSize' as FontSize;
@use '../../config/mixins' as Mixins;

.page {
	@include Mixins.page;
    
    .search{
        display: flex;
		justify-content: space-between;
        .fields{
            display: flex;
            justify-content: space-between;
            align-items: center;
			gap: 10px;

			button{
				@include Mixins.blue-button;
			}
        }
    }
}

.resultContainer {
	width: 100%;
	height: 400px;
	display: flex;
	gap: 5px;
	margin-top: 30px;
	overflow-y: auto;
	flex-wrap: wrap;

	a{
		height: fit-content;
	}

	#fallback{
		font-size: 50px;
		align-self: center;
	}
}
.pagination {
	display: flex;
	gap: 20px;
	width: fit-content;
	margin: auto;
	margin-top: 20px;

	button {
		@include Mixins.blue-button;
	}
}
