//VARIABLES DE PALETA DE COLORES
$color-primary-bg: #2e2c3b;
$color-secondary-bg: #201f24;
$color-option-bg: #6b6979;
$color-option2-bg: #2e2d30;
$color-fonts-highlight: #201f24;
$color-fonts-highlight-error: #f35555;
$color-fonts-grayed-out: #AFAFAF;
$color-button-bg: #3f59b8;
$color-button-success: #5fff82;
$color-button-prev: #fffa86;
$color-black: #000000;
$color-white: #ffffff;
$color-form-stroke: #38363D;
$color-background-text: #8A8A8A;
