@use "../../../config/colors" as c;
@use "../../../config/fontSize" as f;
@use "../../../config/mixins/" as Mixins; 

 //CONTENT CENTER
 .containerContentCenter {
    @include Mixins.font;
    display: flex;
    flex-direction: column;
    background: c.$secondary-bg;
    width: 60%;
    margin-top: 5%;
    border-radius: 10px;
    .containerImg {
      border-radius: 10px 10px 0 0;
      position: relative;
      overflow: hidden;
      height: 200px;
    }
    .containerUser {
      height: 4rem;
      display: flex;
      justify-content: space-between;

      #user{
        top: 50px;
        margin-left: 3%;
        display: flex;
        align-items: flex-end;
        img {
          position: relative;
          width: 100px;
          height: 90px;
          border-radius: 50%;
          border: 5px solid c.$secondary-bg;
        }
        h1 {
          height: fit-content;
          margin: 0;
          align-self: left;
          color: c.$white;
        }
      }
      input {
        height: 30px;
        background: c.$secondary-bg;
        color: c.$fonts-highlight-error;
        border: 1px solid c.$fonts-highlight-error;
        border-radius: 4px;
        margin: 15px 25px 0 0;
      }
      input:hover {
          transition: .3s;
          cursor: pointer;
        background: c.$fonts-highlight-error;
        color: c.$white;
      }
    }
    
  }