$card-width: 350px;
$card-height: 250px;
$profile-height: 40px;
$profile-margin: 10px;
$profile-padding: 4px;
$body-height: 200px;

.card{
    p,h1,h2,h3,span,strong{
        height: fit-content;
        margin: 0;
    }

    height: $card-height;
    width: $card-width;
    display: flex;
    flex-direction:column;

    .profile{
        width: fit-content;
        height: $profile-height;
        position: absolute;
        display: flex;
        margin: $profile-margin;
        padding: $profile-padding;
        gap: 5px;
        text-align: left;
        
        img{
            border-radius: 50%;
            width: $profile-height;
            height: inherit;
        }

        .info{
            height: inherit;
            display: flex;
            flex-direction: column;
            justify-content: end;
            h1{
                font-size: .9rem;
                font-weight: bold;
            }
            h2{
                font-size: .7rem;
            }
        }

    }

    .body{
        width: inherit;
        height: 200px;
        img{
            width: inherit;
            object-fit: cover;
            max-height: 200px;
        }
        h1{
            font-size: x-large;
            margin: 0 10px;
            position: absolute;
            top: 150px;
        }
    }

    .footer{
        height: calc($card-height - $body-height);
        background-color: white;
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        align-items: center;
        border-top: 1px #AFAFAF solid;
        padding: 0 10px;

        #merit{
            display:flex;
            flex-direction: row;
            gap: 5px;

            #rating{
                font-weight: bold;
                color: #FBCB22;
            }
        }

        #pricing{
            display: inherit;
            align-items: end;
            gap: 5px;
            p{
                font-size: 13px;
            }
        }
    }
}

.subtle{
    font-weight: lighter;
    color: #AFAFAF;
}