.container {
  display: grid;
  grid-template-columns: repeat(4, auto);

  gap: 24px;

  max-width: 1234px;

  margin: 0 auto;

  padding: 48px 0;
}

.nocontent {
  margin: 0 auto;
  padding: 200px 0;
  color: grey;
  max-width: 1234px;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  align-self: center;
  justify-self: center;
}