@media screen and (min-width: 768px){
    .box{
        width: 400px;
    }
}

.box{
    display: flex; 
    padding: 20px;
    flex-direction: column;
    background-color: #201F24;
    border-radius: 10px;
    gap: 10px;
    box-shadow: 0px 0px 3px rgba(0,0,0,.3);

    .separator{
        width: 80%;
    }

    .section{
        display: flex;
        flex-direction: column;
        gap: 10px;
        h2{
            font-weight: 500;
            font-size: 16px;
            align-self: center;
        }
    }
}