@use '../../../config/mixins'as Mixins;
@use '../../../config/colors'as Colors;

.formContainer {
  margin: 100px auto;
  display: grid;
  max-width: 1234px;
  padding: 40px;
  border-radius: 3px;
  gap: 32px;
  grid-template-rows: repeat(5, auto);
  background-color: rgba(45, 38, 83, 0.69);
}

.inputContainer {
  display: grid;
  gap: 8px;
  grid-template-rows: repeat(2, 15px);
}

.exerciseContainer {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 8px;
}

.create {
  @include Mixins.blue-button;
  margin: 40px auto;
}

.day {
  display: grid;
  gap: 8px;
  grid-template-rows: repeat(2, auto);
}

.tag {
  background-color: Colors.$button-bg;
  color: Colors.$white;
  border-radius: 10px;
  max-width: max-content;
  max-height: fit-content;
  padding: 0 8px;
  user-select: none;
  cursor: pointer;
}