@use '../../../config/mixins'as Mixins;
@use '../../../config/colors'as Colors;

.formContainer {
  display: grid;
  max-width: 600px;
  padding: 40px;
  border-radius: 3px;
  gap: 24px;
  grid-template-rows: repeat(5, auto);
}

.inputContainer {
  display: grid;
  gap: 8px;
  grid-template-rows: repeat(2, 20px);
}

.exerciseContainer {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 8px;
}

.create {
  @include Mixins.blue-button;
  margin: 40px auto;
}

.day {
  display: grid;
  gap: 8px;
  grid-template-rows: repeat(2, auto);
}

.tag {
  background-color: Colors.$button-bg;
  color: Colors.$white;
  border-radius: 10px;
  max-width: max-content;
  max-height: fit-content;
  padding: 0 8px;
  user-select: none;
  cursor: pointer;
}

#add {
  @include Mixins.blue-button;
  width: fit-content;
  align-self: center;
  justify-self: center;
  font-size: 18px;
  margin-top: 2rem;
}

.active {
  background-color: #42f57b;
}