//IMPORT PALETA DE COLORES
@use "../../../../config/colors/" as c;

.cardNews {
  position: relative;
  cursor: pointer;
  width: 49%;

  .imgCardNews {
    width:100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
  }

  .contentTitleNews {
    background-image: linear-gradient(0deg, c.$secondary-bg,rgba(0,0,0,0));
    background-size: 100px;
    position: absolute;
    padding: 1rem 1rem;
    padding-top: 3rem;
    bottom: 0;
    left: 0;
    font-size: 20px;
    font-weight: bold;
    color: c.$white;
    border-radius: 0 0 10px 10px;
  }
}
