@use '../../../../config/colors/' as Colors;
@use '../../../../config/mixins/' as Mixins;

.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 10px;
	width: 67%;
	max-height: 80vh;
	overflow-y: auto;
    border-radius: 5px;

	@include Mixins.scrollbar;
}

#loading{
	margin: auto;
}
